*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*Universal Selectors****************/

body {
  background-image: url('../img/bg.jpg'), url('../img/noise-light.png');
  background-color: black;
  background-position-x: center;
  background-position-y: top;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  color: #FFF;
  font-family: "Trebuchet MS",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button {
  background-color: #da7e25;
  border-bottom: 4px solid #834c16;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #FFF;
}

/*Class Selectors********************/
.container {
  max-width: 1000px;
}

.navbar {
  height: 97px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.navbar li {
  padding-top: 20px;
}

.navbar-inverse {
  background-color: rgba(0,0,0,0.55);
  border: none;
}
.navbar-inverse .navbar-brand {
  color: #df8025;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #df8025;
}
.navbar-inverse .navbar-nav > li > a {
  color: #df8025;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #f0ecca;
  background-color: transparent;
}

.featured-image {
  padding: 10px;
  background-color: rgba(0,0,0,0.55);
}

.featured-image img {
  margin-top: -40px;
}

.tickets-col {
  border-left: 1px solid rgba(255,255,255,0.25);
}

/*.showtimes-col {
  border-right: 1px solid rgba(255,255,255,0.25);
}*/

/*Id Selectors***********************/

#rowA {
  /*width: auto;*/
  border-radius: 0px;
  background: none;
  border: 1px solid rgba(255,255,255,0.25);
  padding: 15px;
}

.button-box {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.25);
  padding: 15px 15px 5px;
  margin-bottom: 20px;
  text-align: center;
  margin: 20px;
}

.button-box button {
  width: 33%;
  margin: 5px;
}
/*Media Queries**********************/
@media screen and (max-width: 768px){
  .marquee {
    display: none;
  }

  .container {
    padding: 15px;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px){
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }

  .button-box {
    padding: 5px;
    margin: 10px;
  }

  .button-box button {
    font-size: .6em;
  }

}
